*,
p {
    padding: 0;
    margin: 0;
    font-family: 'Jost', sans-serif;
}

.main {
    width: 1200px;
    margin: auto;
    padding-top: 80px;
    border: 1px solid red;
}

.background {
    background-color: black;
}

.fa-solid {
    color: #5758e0;
    font-size: 35px;
    padding: 15px 0;
}

/* .abc{
    height: 500px;
} */
.line {
    width: 40px;
    height: 5px;
    background-color: blue;
    /* border: 2px solid light blue; */

}

.card {
    transition: 0.5s;
}

.card:hover {
    color: white !important;
    background-color: #575edf !important;
    transform: translateY(-10px) !important;
}

.sectiongirl {
    background-color: black;
}

.featurebloc fa-solid {
    padding: 0;
    margin: 0;
    color: #5758e0;
    font-size: 35px;

}

.portimgdiv {
    width: 450px;
    /* overflow: hidden; */
    height: 350px;
    border: 1px solid red;

}

.portimgdiv img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.divimgcontent {
    height: 100%;
    padding: 70px 20px 30px 30px;
    position: absolute;

    top: 0px;
}

.portimgdiv:hover .divimgcontent {
    display: none;

}

.watchvideo {
    width: 50%;
}

.playbtn {
    position: relative;
    border: 1px solid red;
    left: -350px;
    cursor: pointer;
    z-index: 10;
}

.cards{
    width: 350px;
}

.imgcard{
    width: 60px;
}